<style>
    h2 > i.fa {
        float: right;
        line-height: 33px;
        font-size: 20px;
        cursor: pointer;
    }
</style>
<div id="static-script-ffmpeg-wrapper" class="container">
    <div class="row">
        {{#each @root as |group|}}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">{{name}}</div>
                    {{#if description}}
                        <div class="panel-body">
                            <p>{{description}}</p>
                        </div>
                    {{/if}}
                    <ul class="list-group">
                        {{#each children as |item|}}
                            <li class="list-group-item">
                                {{description}}
                                {{#if false}}
                                <i class="fa fa-download pull-right" style="line-height: inherit; margin-left: 8px"
                                   onclick="download(`{{script}}`,'{{group.name}}-{{item.name}}.bat')"></i>
                                {{/if}}
                                <i class="fa fa-copy pull-right" style="line-height: inherit"
                                   data-clipboard-text="{{script}}"></i>

                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        {{/each}}
    </div>
</div>
