<style>
    .single-service > a {
        width: 100%;
    }

    .inner {
        padding: 10px 20px;
    }

    .inner .title {
        line-height: 28px;
    }

    .icon img {
        width: 26px;
        vertical-align: top;
    }

    .icon i {
        color: #0a0a0a;
    }

    .content > .description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        /* 作为弹性伸缩盒子模型显示 */
        -webkit-box-orient: vertical;
        /* 设置伸缩盒子的子元素排列方式--从上到下垂直排列 */
        -webkit-line-clamp: 2;
        /* 显示的行 */
        min-height: 52px;
    }

    .inner {
        position: relative;
    }

    .inner .progress {
        width: 80%;
        position: absolute;
        top: calc(50% - 10px);
        left: 10%;
        opacity: 0.6;
    }
</style>
<div class="container">
    <div class="row">
        {{#each children as | group |}}
            <h2 class="col-md-12 text-center"><b>{{group.name}}</b></h2>
            {{#each group.children as | item |}}
                {{#if @root.theme}}
                    <div class="col-sm-4 col-md-3">
                        <div class="thumbnail">
                            <a href="#{{@root.path}}{{group.path}}{{item.path}}" style="width: 100%;">
                                <img src="holder.js/200x150" data-echo="{{item.icon-src}}" alt="...">
                                <div class="caption">
                                    <h5 style="overflow: hidden; /* 超出的文本隐藏 */
        text-overflow: ellipsis; /* 溢出用省略号显示 */
        white-space: nowrap; /* 溢出不换行 */">
                                        {{item.name}}
                                    </h5>
                                </div>
                            </a>
                        </div>
                    </div>
                {{/if}}
                {{#unless @root.theme}}
                    <div class="col-lg-3 col-md-4 single-service">
                        <div class="inner">
                            <div class="title">
                                <div class="icon">
                                    {{#if item.org}}
                                    <a href="{{item.org}}" target="_blank">
                                    {{/if}}
                                    {{#if item.icon}}
                                        <i class="{{item.icon}}"></i>
                                    {{/if}}
                                    {{#if item.icon-src}}
                                        <img src="holder.js/26x26" data-echo="{{item.icon-src}}"/>
                                    {{/if}}
                                    {{#if item.org}}
                                    </a>
                                    {{/if}}
                                </div>
                                <h4>
                                    <a href="#{{@root.path}}{{group.path}}{{item.path}}">
                                        {{item.name}}
                                    </a>
                                </h4>
                            </div>
                            <div class="content">
                                <p class="description">{{item.description}}</p>
                            </div>
                            <div class="additional">
                                {{#if item.github}}
                                    <a href="https://github.com/{{item.github.user}}/{{item.github.repo}}"
                                       target="_blank">
                                        <img data-echo="https://img.shields.io/github/stars/{{item.github.user}}/{{item.github.repo}}"/>
                                    </a>
                                {{/if}}
                                {{#if item.npm}}
                                    <a href="https://www.jsdelivr.com/package/npm/{{item.npm}}" target="_blank">
                                        <img data-echo="https://data.jsdelivr.com/v1/package/npm/{{item.npm}}/badge"/>
                                    </a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/unless}}
            {{/each}}
        {{/each}}
    </div>
</div>
